.DS_Store
.php_cs.cache
.php-cs-fixer.cache
.phpunit.cache
.phpunit.result.cache
/.idea
vendor/
composer.phar
node_modules/
public/hot
.vite/
.vscode/
.env
.env.*.local
.env.local
.env.example
.git/
.editorconfig
.gitignore
.php-cs-fixer.php
.phpstorm.meta.php
jsconfig.json
LICENSE
phpstan.neon
README.md
app/storage/cache/*
!app/storage/cache/views/
app/storage/cache/views/*
app/storage/database/*
app/storage/logs/*
app/storage/sessions/*