# MySQL credentials
MARIADB_ROOT_PASSWORD=rootpass
MARIADB_DATABASE=makovue
MARIADB_USER=makovueuser
MARIADB_PASSWORD=makovuepass

# MySQL user for running migrations (needs more privileges)
MARIADB_MIGRATION_USER=migrationuser
MARIADB_MIGRATION_PASSWORD=migrationpass

# Host connections -- best managed by the `php app/reactor post-create-project` command
LISTEN_IP=127.0.0.1
LISTEN_DOMAIN=localhost
XDEBUG_PORT=9003

# --- Probably don't edit below this line unless absolutely necessary ---

# Vite configuration
APP_URL=https://${LISTEN_DOMAIN}
VITE_DOMAIN=${LISTEN_DOMAIN}

# User context for file ownership and permissions
UID=${UID:-1000}
GID=${GID:-1000}
