<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="tests/Bootstrap.php" colors="true" failOnRisky="true" failOnWarning="true">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">app</directory>
    </include>
    <exclude>
      <file>app/bootstrap.php</file>
      <file>app/init.php</file>
      <directory>app/config</directory>
      <directory>app/http</directory>
      <directory>app/migrations</directory>
      <directory>app/resources</directory>
      <directory>app/storage</directory>
    </exclude>
  </source>
</phpunit>
